body {
    margin: 0;
}

a {
    color: #545454;
}

#navbar {
    background-color: limegreen;
    text-align: left;
}

#navbar > a {
    display: none;
}

.dropbtn {
    border: none;
    padding: 12px;
    outline: none;
    background-color: limegreen;
}

.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    border-left: solid limegreen 2px;
}

.dropdown-content a {
    display: block;
    padding: 5px;
}

.show {
    display: block;
}

.banner {
    width: 100%;
}

.logo {
    width: 8em;
    position: relative;
    float: right;
}

.dropbtn2 {
    background-color: white;
    border: none;
    padding: 10px;
    outline: none;
    border-left: solid limegreen 2px;
}

.dropdown-content2 {
    background-color: white;
    display: none;
    position: absolute;
    border-left: solid limegreen 2px;
}

.dropdown-content2 a {
    display: block;
    padding: 5px;
}

.show2 {
    display: block;
}

#navbar2 > a {
    display: none;
}

#info {
    width: 50%;
    margin: 0 auto;
    line-height: 20px;
}

.info-headline {
    font-size: 20px;
    font-weight: bolder;
}

.video {
    display: block;
    margin: 0 auto;
    height: 25%;
    width: 50%;
}

footer {
    height: 50px;
    width: 100%;
    background-color: limegreen;
    text-align: center;
    margin-top: 2em;
    padding-top: 2em;
}

@media only screen and (min-width: 900px) {

    body {
        margin: 0;
    }
    #navbar {
        padding: 10px;
        text-align: right;
        position: fixed;
        z-index: 1;
        width: 100%;
    }

    #navbar > a {
        display: inline;
    }

    a {
        display: inline;
        padding: 11px;
        margin-right: 1em;
        color: #545454;
    }

    .dropdown {
        display: none;
    }

    .banner {
        width: 100%;
        position: relative;
    }

    .logo {
        width: 350px;
        position: relative;
        margin-left: 5%;
        margin-top: 3em;
        float: left;
    }

    #navbar2 a{
        color: #545454;
        padding: 10px;
        margin-top: 3em;
        display: inline-block;
    }

    .dropdown-content2, .dropbtn2 {
        display: none;
    }

    #info{
        width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1;
    }

    .video {
        display: block;
        margin: 0 auto;
        height: 50%;
        width: 50%;
    }

    footer {
        height: 50px;
        width: 100%;
        background-color: limegreen;
        text-align: center;
        margin-top: 2em;
        padding-top: 2em;
    }
}